:root{
    --headerFont : "headerFont";
    --defaultFont : "defaultFont"
}

@font-face {
    font-family: "headerFont";
    src: url(./Agbalumo-Regular.ttf);
}
@font-face {
    font-family: "defaultFont";
    src: url(./JetBrainsMono-VariableFont_wght.ttf);
}

*{
    margin: 0;
    padding:0;
    font-size: 62.5%;
}

body{
    background-color: #fef3e2;
    display: flex;
    justify-content: space-between;
}


h1{
    margin-left: 10rem;
    font-family: var(--headerFont);
    font-size: 6.5rem;
    letter-spacing: 0.1rem;
    color: #451a03;
}
.content-container{
    margin-top: 2rem;
    width: 50vw;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    align-self: center;
    flex-direction: column;
    gap: 3rem;
}
.about-container{
    font-size: 2.4rem;
    height: 85%;
    max-width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #dc2626;
    border-radius: 0 3.5rem 3.5rem 0;
    box-shadow: -10px -10px 5px #b91c1c inset;
}
.now-container{
    width: 90%;
    height: 10rem;
    border-radius:  0 3.5rem 3.5rem 0;
    box-shadow: 4px 4px 2px #ecbc27;
    background-color: #facc15;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.now-container h3{
    font-family: var(--headerFont);
    color: #ffff;
    font-size: 3rem;
    text-shadow: 2px 2px 2px #ecbc27;
    padding: 1rem;
}
.now-container p{
    font-size: 1.4rem;
    width: 30rem;
    border-radius: 2.5rem;
    height: 5rem;
    padding: 1rem;
    text-align: center;
    font-family: var(--defaultFont);
    background-color: #f59e0b;
    box-shadow: 4px 4px 2px #da7806;


}
#text-rotated{
    margin-left: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 2rem;
    transform: rotate(-90deg);
    transform-origin: center;
}

#text-rotated h3{

    font-size: 4.5rem;
    font-family: var(--headerFont);
    color: #fff;
    text-shadow: 2px 2px 2px #b91c1c;
    white-space: nowrap;
}

#disc-container-text{
    flex: 1;
    padding: 3rem;
    color: #fff;
    display: flex;
}

#disc-container-text p{
    margin: 0 2rem;
    font-size: 1.6rem;
    font-family: var(--defaultFont);
    line-height: 1.6;
    align-self: flex-start;
    color: #fff;
}
#disc-img{
    height:80%;
    max-width: 60rem;
    border-radius: 2.5rem;
}

#disc-container{
    background-color: #f59e0b;
    width: 40vw;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 3.5rem 0 0 3.5rem ;
}
#disc-header{
    display: flex;
    gap: 2rem;
    align-self: center;
}
#disc-text-rotated{
    display: flex;
    align-self: flex-end;
    align-items: center;
    justify-content:flex-end;
    padding: 1rem;
    width: 2rem;
    transform: rotate(90deg);
    transform-origin: right;
    font-size: 5.5rem;
    font-family: var(--headerFont);
    color: #fff;
    text-shadow: 4px 4px 2px #ecbc27;
    white-space: nowrap;
}
#disc-video-container{
    height: 55vh;
    width: 20vw;
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: 2.5rem;
}
#disc-info p {
    font-size: 1.6rem;
    width: 50rem;
    font-family: var(--defaultFont);
    align-self: center;
}
#disc-info ul li{
    text-align: center;
    list-style: none;
    margin: auto;
    width: 50rem;
    background-color: #facc15;
    font-family: var(--defaultFont);
    color: #451a03;
    margin-top: 1rem;
    padding: 1rem;
    font-size: 1.6rem;
    border-radius: 2.5rem;
}